name: Automatic builds and publish for Godot
on:
  push:
    branches:
      - master

permissions:
  contents: write

env:
  GODOT_VERSION: 4.5.1
  PROJECT_PATH: .

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          lfs: true # Keeping in case we use it

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v1
        with:
          version: ${{ env.GODOT_VERSION }}
          use-dotnet: false
          include-templates: true

      - name: Create Build Directories
        run: |
          mkdir -p build/web
          mkdir -p build/windows
          mkdir -p build/linux
          mkdir -p build/mac

      # EXPORT STEPS
      # The first argument is the name of the Preset in export_presets.cfg
      # The second argument is the output path
      
      - name: Build Web
        run: godot --headless --verbose --export-release "Web" "${{ github.workspace }}/build/web/index.html" ${{ env.PROJECT_PATH }}/project.godot

      - name: Build Windows
        run: godot --headless --verbose --export-release "Windows Desktop" "${{ github.workspace }}/build/windows/melty_balls.exe" ${{ env.PROJECT_PATH }}/project.godot

      - name: Build Linux
        run: godot --headless --verbose --export-release "Linux" "${{ github.workspace }}/build/linux/melty_balls.x86_64" ${{ env.PROJECT_PATH }}/project.godot

      # DEPLOYMENT STEPS

      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Build
          path: build/windows
          retention-days: 1

      - name: Upload Linux Build
        uses: actions/upload-artifact@v4
        with:
          name: Linux-Build
          path: build/linux
          retention-days: 1
          
      - name: Upload Web Build
        uses: actions/upload-artifact@v4
        with:
          name: Web-Build
          path: build/web
          retention-days: 1

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/web # The folder containing index.html
